---
import SearchIcon from "@/icons/search.astro"
import MoonIcon from "@/icons/moon.astro"
import UserIcon from "@/icons/user.astro"
import XIcon from "@/icons/x.astro"
import InstagramIcon from "@/icons/instagram.astro"
import EmailIcon from "@/icons/email.astro"
import GitHubIcon from "@/icons/github.astro"
import HomeIcon from "@/icons/home.astro"
import TrendingUpIcon from "@/icons/trending-up.astro"
import LocationIcon from "@/icons/location.astro"
import HamburgerIcon from "@/icons/hamburger.astro"

const pageTitle = "Wari Travels"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class=" font-Montserrat overflow-x-hidden dark:bg-gray-900">
		<header class="">
			<nav class=" border-b-2 hidden w-full h-14 lg:flex justify-between p-8 items-center bg-white fixed z-10 dark:bg-gray-800">
				<ul class="w-auto h-auto">
					<li class="text-xl text-primary font-black dark:text-white"><a href="/">Wari Travels</a></li>
				</ul>
				<ul class="flex justify-between space-x-8 font-bold text-primary text-base dark:text-white">
					<li><a href="/">Inicio</a></li>
					<li><a href="#locations">Lugares</a></li>
					<li><a href="#trending_stays">Más visitados</a></li>
					<li><a href="">Sobre Nosotros</a></li>
				</ul>
				<div class="flex space-x-4">
					<SearchIcon/>
					<button id="toggle">
						<MoonIcon/>
					</button>
          <UserIcon/>
          <HamburgerIcon/>
				</div>
			</nav>
		</header>
		<main class="w-full h-screen">
			<section id="#home" class="w-full h-3/4"><!--home -->
				<div class="absolute w-full h-full flex flex-col space-y-96 py-4 items-center lg:space-y-0 lg:items-start lg:pt-48">
					<input 
						class=" outline-none p-2 rounded-full shadow-sm transition duration-300 focus-within:shadow-sm focus:ring-2 focus:w-11/12 lg:hidden" 
						type="search"
						placeholder="La Union Dos de Mayo"
            aria-label="Botón buscar"
            id="Buscar"
					>
					<ul class="hidden text-4xl font-semibold lg:w-2/5 h-auto lg:flex pb-6 flex-col">
						<li class="ml-16 text-primary">Conoce los mejores <span> lugares turístivos de La Unión - Dos de Mayo - Huánuco - Perú</span></li>
            <li class="ml-16 text-sm text-white">Complejo Arqueológico Monumental Wanuko Marka</li>
					</ul>
					<button id="##trending_stays" 
						class="w-48 bg-white p-2 text-lg font-semibold rounded-3xl text-primary shadow-sm transition duration-500 ease-in-out hover:bg-primary hover:text-white translate transform hover:translate-y-1 hover:scale-110 lg:ml-16">
						Explorar más
					</button>
				</div>
				<figure class=" w-full lg:h-full lg:bg-castilloDesktop lg:bg-cover lg:mt-18 lg:bg-center">
					<img class="lg:hidden" src="/img/20211230_122720.jpg" alt="">
				</figure>
			</section>
      <section id="locations" class="w-full h-auto px-6"><!--recommended -->
        <div class="w-full h-auto">
          <h2 class="text-3xl text-primary font-semibold pb-6 lg:mt-6 mt-20">Nuestra recomendación</h2>
          <div class="w-auto h-72 items-center mt-6 p-6 overflow-x-auto overscroll-x-contain flex overflow-y-hidden lg:overflow-x-hidden lg:grid grid-cols-6 lg:gap-16 gap-4 lg:h-auto">
            <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card -->
              <div class="w-full h-3/5 bg-guellaycancha bg-cover rounded-t-lg"></div>
                  <div class="w-full h-2/5 bg-secondary rounded-b-lg dark:bg-gray-700">
                    <h3 class="text-white font-semibold text-lg px-4 py-2">Qhapaq Ñan</h3>
                    <p class="text-white text-md px-4">Camino Inka, ruta de Chinchaysuyo. </p>
                  </div>
            </div>
            <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card -->
              <div class="w-full h-3/5 bg-castilloDesktop bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-white rounded-b-lg dark:bg-gray-700">
                  <h3 class="text-terciary font-semibold text-lg px-4 py-2 dark:text-white">Ushno</h3>
                  <p class="text-terciary text-sm px-4 dark:text-white">Estructura cuadrangular de piedra.</p>
              </div>
            </div>
            <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card-->
              <div class="w-full h-3/5 bg-eljaguar bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-secondary rounded-b-lg dark:bg-gray-700">
                <h3 class="text-white font-semibold text-lg px-4 py-2">El Jaguar</h3>
                <p class="text-white text-md px-4">Grabado en alto relieve</p>
              </div>
            </div>
            <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card-->
              <div class="w-full h-3/5 bg-conoc bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-white rounded-b-lg dark:bg-gray-800">
                  <h3 class="text-terciary font-semibold text-lg px-4 py-2 dark:text-white">Conoc</h3>
                  <p class="text-terciary text-sm px-4 dark:text-white">Aguas termales con propiedades medicinales.</p>
              </div>
            </div>
            <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card-->
              <div class="w-full h-3/5 bg-fiestaDelSol bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-secondary rounded-b-lg dark:bg-gray-700">
                <h3 class="text-white font-semibold text-lg px-4 py-2">Inti Raymi</h3>
                <p class="text-white text-md px-4">Fiesta del Sol</p>
              </div>
            </div>
            <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card-->
              <div class="w-full h-3/5 bg-bañosDelInka bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-white rounded-b-lg dark:bg-gray-800">
                  <h3 class="text-terciary font-semibold text-lg px-4 py-2 dark:text-white">Pultumarka</h3>
                  <p class="text-terciary text-md px-4 dark:text-white">Recinto de baño incaico</p>
              </div>
            </div>
            <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card-->
              <div class="w-full h-3/5 bg-llamas bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-secondary rounded-b-lg dark:bg-gray-700">
                  <h3 class="text-white font-semibold text-lg  px-4 py-2">Wanaku</h3>
                  <p class="text-white text-sm px-4">Es un animal salvaje de la familia camelidae.</p>
              </div>
          </div>
          <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card-->
              <div class="w-full h-3/5 bg-portadaDelSol bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-white rounded-b-lg dark:bg-gray-800">
                  <h3 class="text-terciary font-semibold text-lg px-4 py-2 dark:text-white">Inti Punku</h3>
                  <p class="text-terciary text-sm px-4 dark:text-white">Portada principal con 2 estatuillas zoomorfas</p>
              </div>
          </div>
          <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card-->
              <div class="w-full h-3/5 bg-LU bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-secondary rounded-b-lg dark:bg-gray-700">
                  <h3 class="text-white font-semibold text-lg px-4 py-2">Aguamiro</h3>
                  <p class="text-white text-sm px-4">Provincia Dos de Mayo, su capital La Unión.</p>
              </div>
          </div>
          <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card-->
              <div class="w-full h-3/5 bg-tauripampa bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-white rounded-b-lg dark:bg-gray-800">
                  <h3 class="text-terciary font-semibold text-lg px-4 py-2 dark:text-white">Tauripampa</h3>
                  <p class="text-terciary text-sm px-4 dark:text-white">Aguas termales con propiedades medicinales.</p>
              </div>
          </div>
          </div>
        </div>
      </section>
      <section class=" w-full h-auto px-6 lg:pt-8 pt-16" id="trending_stays"><!--stays -->
        <h2 class="text-3xl text-primary font-semibold pb-6 mt-6 dark:text-white">Los más visitados</h2>
        <div class="w-full h-full flex flex-col items-center justify-center">
            <figure class="w-full h-96 bg-bañosDelInka bg-cover rounded-xl mb-8 lg:bg-center">
                <h3 class=" pt-8 pl-8 pb-2 font-semibold text-3xl text-white">Pultumarka</h3>
                <p class="text-sm pl-8 text-white mr-24 lg:text-lg">Recinto de baño y el canal que lo alimentaba de agua</p>
            </figure>
            <div class="lg:flex lg:h-full lg:w-full lg:space-x-4">
                <figure class="w-full h-96 bg-portadaDelSol bg-cover rounded-xl lg:h-auto mb-8">
                    <h3 class=" pt-8 pl-8 pb-2 text-3xl font-semibold text-primary">Inti Punku</h3>
                    <p class="text-sm pl-8 text-black mr-24 lg:text-lg">Portada principal adornada con dos estatuillas zoomorfas. Es una plataforma rectangular, elaborada con piedra estilo Inka Imperial.</p>
                </figure>
                <div class="lg:h-full lg:flex lg:flex-col lg:pl-8">
                    <figure class="w-full h-96 bg-llamas bg-cover rounded-xl mb-8">
                        <h3 class="pt-8 pl-8 pb-2 text-3xl font-semibold lg:text-white">Wanaku</h3>
                        <p class="text-sm pl-8 text-white mr-24 lg:text-lg">Es un animal salvaje de la familia camelidae..</p>
                    </figure>
                    <figure class="w-full h-96 bg-fiestaDelSol bg-cover rounded-xl">
                        <h3 class="pt-8 pl-8 pb-2 text-3xl font-semibold text-primary">Inti Raymi</h3>
                        <p class="text-sm pl-8 text-black mr-24 lg:text-lg">Fiesta del sol, ceremonia celebrada en honor de Inti (el dios sol)</p>
                    </figure>
                </div>
            </div>
        </div>
      </section><!--rentas destacados end-->
			<section class="w-full lg:pt-8 pt-10"> <!--FAQS -->
				<div class="w-full h-full flex flex-col space-y-4 px-6">
					<h2 class=" text-3xl font-semibold text-primary pb-4">FAQS</h2>
					<div>
						<h3 class=" text-primary text-xl font-medium">Método de pagos</h3>
						<p class="text-base pt-2 dark:text-white">Aceptamos VISA, MasterCard, American Express, Paypal y Binance</p>
					</div>
					<div>
						<h3 class="text-primary text-xl font-medium">Política de cancelación</h3>
						<p class="text-base pt-2 dark:text-white">Para la devolución del pago de la reserva sólo se hará si dentro de 72 hrs. a la fecha de la reserva, de lo contrario no se hará.</p>
					</div>
					<div>
						<h3 class="text-primary text-xl font-medium">Los mejores lugares</h3>
						<p class="text-base pt-2 dark:text-white">Aceptamos VISA, MasterCard, American Express, Paypal y Binance</p>
					</div>
					<div class="pb-6">
						<h3 class="text-primary text-xl font-medium">Servicios adicionales</h3>
						<p class="text-base pt-2 dark:text-white">Cada tours tiene servicios extra como experiencias, comidas, eventos entre otros que pueden o no estar incluidos en el coste del tours y los costes extra son relativos al anfitrión.</p>
					</div>
				</div>
			</section>
      <section class="w-full h-16 bg-white fixed left-0 bottom-0 shadow-md flex space-x-8 items-center justify-center lg:hidden dark:bg-gray-800 dark:text-white z-10" id="tab_bar">
        <a href="/" class="flex flex-col justify-center items-center">
            <HomeIcon/>
            <span class="text-primary text-xs font-semibold">Inicio</span>
        </a>
        <a href="#trending_stays" class="flex flex-col justify-center items-center">
            <SearchIcon/>
            <span class="text-primary text-xs font-semibold">Explorar</span>
        </a>
        <a href="#trending_stays" class="flex flex-col justify-center items-center">
          <TrendingUpIcon/>
          <span class="text-primary text-xs font-semibold">trending</span>
        </a>
        <a href="#locations" class="flex flex-col justify-center items-center">
            <LocationIcon/>
            <span class="text-primary text-xs font-semibold">lugares</span>
        </a>
        <button id="toggle-sm" class="flex flex-col justify-center items-center">
            <MoonIcon/>
            <span class="text-primary text-xs font-semibold">Light Mode</span>
        </button>
      </section><!--tab-bar end-->
			<footer class="lg:pt-14 relative flex w-full flex-col md:flex-row md:justify-between">
				<hr class="absolute top-0 h-[2px] w-full min-w-[18rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-red-500 to-transparent bg-center md:my-9">
				<div class="w-full lg:text-start text-center p-10 dark:text-white">
					&copy; {new Date().getFullYear()} Wari Travels
					<span aria-hidden="true" class="hidden md:inline">|</span>
					<br aria-hidden class="block md:hidden" />
					Todos los derechos reservados.
				</div>
				<hr class=" h-[2px] w-full min-w-[18rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-red-500 to-transparent bg-center md:hidden">
				<ul class="flex justify-center items-center gap-1 p-10 pb-20">
					<li><a href="/"><InstagramIcon /></a></li>
					<li><a href="/"><GitHubIcon/></a></li>
					<li><a href="/"><XIcon /></a></li>
					<li><a href="/"><EmailIcon /></a></li>
				</ul>
			</footer> 
		</main>
    <script>
      const htmlElement = document.querySelector("html");
      const toggleButton = document.querySelector("#toggle")
      const toggleButtonSm = document.querySelector("#toggle-sm")

    toggleButton.addEventListener("click",() => toggleDarkMode())
    toggleButtonSm.addEventListener("click",() => toggleDarkMode())

    const toggleDarkMode = () => {
        htmlElement.classList.contains("dark")?
        htmlElement.classList.remove("dark"):
        htmlElement.classList.add("dark")
    }
    </script>
	</body>
</html>	
