---
import SearchIcon from "@/icons/search.astro"
import MoonIcon from "@/icons/moon.astro"
import UserIcon from "@/icons/user.astro"
import XIcon from "@/icons/x.astro"
import InstagramIcon from "@/icons/instagram.astro"
import EmailIcon from "@/icons/email.astro"
import GitHubIcon from "@/icons/github.astro"
import HomeIcon from "@/icons/home.astro"
import TrendingUpIcon from "@/icons/trending-up.astro"
import LocationIcon from "@/icons/location.astro"

const pageTitle = "Wari Travels"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class=" font-Montserrat overflow-x-hidden">
		<header class="border-b-2">
			<nav class="hidden w-full h-14 lg:flex justify-between p-8 items-center bg-white fixed z-10">
				<ul class="w-auto h-auto">
					<li class="text-xl text-primary font-black"><a href="">Wari Travels</a></li>
				</ul>
				<ul class="flex justify-between space-x-8 font-bold text-primary text-base">
					<li><a href="">Home</a></li>
					<li><a href="">Locations</a></li>
					<li><a href="">Stays</a></li>
					<li><a href="">About us</a></li>
				</ul>
				<div class="flex space-x-4">
					<SearchIcon/>
					<button>
						<MoonIcon/>
					</button>
          <UserIcon/>
				</div>
			</nav>
		</header>
		<main class="w-full h-screen">
			<section class="w-full h-3/4"><!--home -->
				<div class="absolute w-full h-full flex flex-col space-y-96 py-4 items-center lg:space-y-0 lg:items-start lg:pt-48">
					<input 
						class=" outline-none p-2 rounded-full shadow-sm transition duration-300 focus-within:shadow-sm focus:ring-2 focus:w-11/12 lg:hidden" 
						type="search"
						placeholder="San Francisco"
					>
					<ul class="hidden text-4xl font-semibold lg:w-2/5 h-auto lg:flex pb-6">
						<li class="ml-16">Find More Locations like This</li>
					</ul>
					<button 
						class="w-48 bg-white p-2 text-lg font-semibold rounded-3xl text-primary shadow-sm transition duration-500 ease-in-out hover:bg-primary hover:text-white translate transform hover:translate-y-1 hover:scale-110 lg:ml-16">
						Explore more
					</button>
				</div>
				<figure class=" w-full lg:h-full lg:bg-sanFranciscoDesktop lg:bg-cover lg:bg-center">
					<img class="lg:hidden" src="https://hynkor.com/wp-content/uploads/2024/06/sanFrancisco-scaled.jpg" alt="">
				</figure>
			</section>
      <section class="w-full h-auto px-6"><!--recommended -->
        <div class="w-full h-auto">
          <h2 class="text-3xl text-primary font-semibold pb-6 lg:mt-6 mt-20">Our recommendation</h2>
          <div class="w-auto h-72 items-center mt-6 p-6 overflow-x-auto overscroll-x-contain flex overflow-y-hidden lg:overflow-x-hidden lg:grid grid-cols-6 lg:gap-16 gap-4 lg:h-auto">
            <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card -->
              <div class="w-full h-3/5 bg-norway bg-cover rounded-t-lg"></div>
                  <div class="w-full h-2/5 bg-secondary rounded-b-lg dark:bg-gray-700">
                    <h3 class="text-white font-semibold text-lg px-4 py-2">Norway</h3>
                    <p class="text-white text-md px-4">Beautiful Landscapes</p>
                  </div>
            </div>
            <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card -->
              <div class="w-full h-3/5 bg-new_york bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-white rounded-b-lg dark:bg-gray-700">
                  <h3 class="text-terciary font-semibold text-lg px-4 py-2 dark:text-white">New York</h3>
                  <p class="text-terciary text-md px-4 dark:text-white">Concrete jungle</p>
              </div>
            </div>
            <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card-->
              <div class="w-full h-3/5 bg-yosemite bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-secondary rounded-b-lg dark:bg-gray-700">
                <h3 class="text-white font-semibold text-lg px-4 py-2">Yosemite</h3>
                <p class="text-white text-md px-4">A break from the world</p>
              </div>
            </div>
            <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card-->
              <div class="w-full h-3/5 bg-seattle bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-white rounded-b-lg dark:bg-gray-800">
                  <h3 class="text-terciary font-semibold text-lg px-4 py-2 dark:text-white">Seattle</h3>
                  <p class="text-terciary text-md px-4 dark:text-white">Big city</p>
              </div>
            </div>
            <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card-->
              <div class="w-full h-3/5 bg-switzerland bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-secondary rounded-b-lg dark:bg-gray-700">
                <h3 class="text-white font-semibold text-lg px-4 py-2">Switzerland</h3>
                <p class="text-white text-md px-4">Big City</p>
              </div>
            </div>
            <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card-->
              <div class="w-full h-3/5 bg-chicago bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-white rounded-b-lg dark:bg-gray-800">
                  <h3 class="text-terciary font-semibold text-lg px-4 py-2 dark:text-white">Chicago</h3>
                  <p class="text-terciary text-md px-4 dark:text-white">2 rooms, bathroom and kitchen</p>
              </div>
            </div>
            <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card-->
              <div class="w-full h-3/5 bg-LA bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-secondary rounded-b-lg dark:bg-gray-700">
                  <h3 class="text-white font-semibold text-lg  px-4 py-2">Los Angeles</h3>
                  <p class="text-white text-sm px-4">4 rooms, 3 bathrooms, kitchen and private pool.</p>
              </div>
          </div>
          <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card-->
              <div class="w-full h-3/5 bg-miami bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-white rounded-b-lg dark:bg-gray-800">
                  <h3 class="text-terciary font-semibold text-lg px-4 py-2 dark:text-white">Miami</h3>
                  <p class="text-terciary text-sm px-4 dark:text-white">3 rooms,2 bathrooms,kitchen and amazing sea view</p>
              </div>
          </div>
          <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card-->
              <div class="w-full h-3/5 bg-bali bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-secondary rounded-b-lg dark:bg-gray-700">
                  <h3 class="text-white font-semibold text-lg px-4 py-2">Bali</h3>
                  <p class="text-white text-sm px-4">2 rooms, 2 bathrooms, kitchen and private pool.</p>
              </div>
          </div>
          <div class="flex-none w-48 h-64 rounded-b-lg shadow-slate-200 shadow-md hover:-translate-y-4 transition-all"><!--card-->
              <div class="w-full h-3/5 bg-sydney bg-cover rounded-t-lg"></div>
              <div class="w-full h-2/5 bg-white rounded-b-lg dark:bg-gray-800">
                  <h3 class="text-terciary font-semibold text-lg px-4 py-2 dark:text-white">Sydney</h3>
                  <p class="text-terciary text-sm px-4 dark:text-white">1 room, 1 bathroom, kitchen, and amazing sea view</p>
              </div>
          </div>
          </div>
        </div>
      </section>
      <section class=" w-full h-auto px-6 lg:pt-8 pt-16" id="trending_stays">
        <h2 class="text-3xl text-primary font-semibold pb-6 mt-6 dark:text-white">Trending Stays</h2>
        <div class="w-full h-full flex flex-col items-center justify-center">
            <figure class="w-full h-96 bg-chicago bg-cover rounded-xl mb-8 lg:bg-center">
                <h3 class=" pt-8 pl-8 pb-2 font-semibold text-3xl lg:text-black">Chicago</h3>
                <p class="text-sm pl-8 text-black mr-24 lg:text-lg">2 rooms, 1 bathroom and chicken</p>
            </figure>
            <div class="lg:flex lg:h-full lg:w-full lg:space-x-4">
                <figure class="w-full h-96 bg-miami bg-cover rounded-xl lg:h-auto mb-8">
                    <h3 class=" pt-8 pl-8 pb-2 text-3xl font-semibold lg:text-white">Miami</h3>
                    <p class="text-sm pl-8 text-white mr-24 lg:text-lg">3 rooms, 2 bathroom, chicken and amazing sea view</p>
                </figure>
                <div class="lg:h-full lg:flex lg:flex-col lg:pl-8">
                    <figure class="w-full h-96 bg-LA bg-cover rounded-xl mb-8">
                        <h3 class="pt-8 pl-8 pb-2 text-3xl font-semibold lg:text-white">Los Angeles</h3>
                        <p class="text-sm pl-8 text-white mr-24 lg:text-lg">3 rooms, 2 bathroom, chicken and private pool.</p>
                    </figure>
                    <figure class="w-full h-96 bg-bali bg-cover rounded-xl">
                        <h3 class="pt-8 pl-8 pb-2 text-3xl font-semibold text-white">Bali</h3>
                        <p class="text-sm pl-8 text-white mr-24 lg:text-lg">2 rooms, 2 bathroom, chicken and private pool.</p>
                    </figure>
                </div>
            </div>
        </div>
      </section><!--rentas destacados end-->
			<section class="w-full lg:pt-8 pt-10"> <!--FAQS -->
				<div class="w-full h-full flex flex-col space-y-4 px-6">
					<h2 class=" text-3xl font-semibold text-primary pb-4">FAQS</h2>
					<div>
						<h3 class=" text-primary text-xl font-medium">Pyments methods</h3>
						<p class="text-base pt-2">We accept VISA, MasterCard, American Express, Paypal and Binance</p>
					</div>
					<div>
						<h3 class="text-primary text-xl font-medium">Cancellation Policy</h3>
						<p class="text-base pt-2">For refund of payment for reservation will be made only if within 72 hrs. to the date of booking, otherwise it will not be made.</p>
					</div>
					<div>
						<h3 class="text-primary text-xl font-medium">Long Stays</h3>
						<p class="text-base pt-2">We accept VISA, MasterCard, American Express, Paypal and Binance.</p>
					</div>
					<div class="pb-6">
						<h3 class="text-primary text-xl font-medium">Additinal services</h3>
						<p class="text-base pt-2">Each accommodation has extra services such as experiences, meals, events among others that may or may not be included in the cost of the stay and the extra costs are relative to the host.</p>
					</div>
				</div>
			</section>
      <section class="w-full h-16 bg-white fixed left-0 bottom-0 shadow-md flex space-x-8 items-center justify-center lg:hidden dark:bg-gray-800 dark:text-white" id="tab_bar">
        <a href="#home" class="flex flex-col justify-center items-center">
            <HomeIcon/>
            <span class="text-primary text-xs font-semibold">Home</span>
        </a>
        <a href="#trending_stays" class="flex flex-col justify-center items-center">
            <SearchIcon/>
            <span class="text-primary text-xs font-semibold">Explore</span>
        </a>
        <a href="#trending-stays" class="flex flex-col justify-center items-center">
          <TrendingUpIcon/>
          <span class="text-primary text-xs font-semibold">Stays</span>
        </a>
        <a href="#recommended" class="flex flex-col justify-center items-center">
            <LocationIcon/>
            <span class="text-primary text-xs font-semibold">Location</span>
        </a>
        <button id="toggle-sm" class="flex flex-col justify-center items-center">
            <MoonIcon/>
            <span class="text-primary text-xs font-semibold">Light Mode</span>
        </button>
        <!-- <a href="#">
            <svg width="30" height="30" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="fill-current text-gray-200" fill-rule="evenodd" clip-rule="evenodd" d="M10 9C10.7956 9 11.5587 8.68393 12.1213 8.12132C12.6839 7.55871 13 6.79565 13 6C13 5.20435 12.6839 4.44129 12.1213 3.87868C11.5587 3.31607 10.7956 3 10 3C9.20435 3 8.44129 3.31607 7.87868 3.87868C7.31607 4.44129 7 5.20435 7 6C7 6.79565 7.31607 7.55871 7.87868 8.12132C8.44129 8.68393 9.20435 9 10 9ZM3 18C3 17.0807 3.18106 16.1705 3.53284 15.3212C3.88463 14.4719 4.40024 13.7003 5.05025 13.0503C5.70026 12.4002 6.47194 11.8846 7.32122 11.5328C8.1705 11.1811 9.08075 11 10 11C10.9193 11 11.8295 11.1811 12.6788 11.5328C13.5281 11.8846 14.2997 12.4002 14.9497 13.0503C15.5998 13.7003 16.1154 14.4719 16.4672 15.3212C16.8189 16.1705 17 17.0807 17 18H3Z" fill="#3F3F46"/>
                </svg>
        </a> -->
      </section><!--tab-bar end-->
			<footer class="lg:pt-14 relative flex w-full flex-col md:flex-row md:justify-between">
				<hr class="absolute top-0 h-[2px] w-full min-w-[18rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-red-500 to-transparent bg-center md:my-9">
				<div class="w-full lg:text-start text-center p-10 ">
					&copy; {new Date().getFullYear()} Wari Travels
					<span aria-hidden="true" class="hidden md:inline">|</span>
					<br aria-hidden class="block md:hidden" />
					All rights reserved.
				</div>
				<hr class=" h-[2px] w-full min-w-[18rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-red-500 to-transparent bg-center md:hidden">
				<ul class="flex justify-center items-center gap-1 p-10">
					<li><a href="/"><InstagramIcon /></a></li>
					<li><a href="/"><GitHubIcon/></a></li>
					<li><a href="/"><XIcon /></a></li>
					<li><a href="/"><EmailIcon /></a></li>
				</ul>
			</footer> 
		</main>
	</body>
</html>	
